<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/index-style.css">
    <title>Home - The spacexers</title>
</head>
<body>

<main>
  <section class="background">
  </section>
  <section class="lp">

    <div class="lp__title">
      <h1>The <br> spacexers</h1>
    </div>

    <div class="lp__cta">
      <a href="/auth/login">Start</a>
    </div>

  </section>
</main>
</body>
</html